html{
  height: 100%;
}

body{
  padding-top: 100px;
  height: 100%;
}

td div.slice{
  width: 100%;
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
}

@media (max-width: 991.98px){
  td div.slice{
    width: 100px;
  }
}

@media (max-width: 767.98px){
  td div.slice, th.slice, td.slice{
    width: 25px;
  }
}

/* Search Results */

.search-results{
  height: 0px;
  z-index: 1;
  position: fixed;
  background: aqua;
}

.has-results{
  height: auto;
  visibility: visible;
  top: 84px;
  width: 100%;
}

/* Part viewer */


.part-viewer {
  height: 100%;
}

.part-viewer div.row {
  height: 100%;
}

.part-viewer div.rest {
  height: 100%;
  overflow-y: hidden;
  padding-bottom: 51.5px;
}

.part-viewer #partTabContent {
  height: 100%;
  overflow-y: scroll;
}

@media(max-width: 575px){
  .part-viewer div.rest {
    overflow-y: visible;
  }
  
  .part-viewer #partTabContent {
    overflow-y: visible;
  }
}
